body,
html
  box-sizing: border-box
  background-color: #fff
  font-size: 1em
  line-height: 1.45


p
  margin-bottom: 1.3em

h1,
h2,
h3,
h4
  margin: 1.414em 0 0.5em
  font-weight: inherit
  line-height: 1.2

h1
  margin-top: 0
  font-size: 3.157em

h2
  font-size: 2.369em

h3
  font-size: 1.777em

h4
  font-size: 1.333em

small,
.font_small
  font-size: 0.75em

ul
  padding: 0

#logo
  > a ul
    list-style: none

    li
      display: inline

      p
        display: inherit

.topmenu
  list-style: none

  li
    display: inline

  .submenu
    display: none

.contentContainer
  margin: 0
  padding: 60px 0

#about
  display: -webkit-flex
  display: -ms-flex
  display: flex
  min-height: 100vh
  background:
    image: url('../images/mainImg2.jpg')
    position: center center
    size: cover
    repeat: no-repeat
    attachment: fixed


#serviceList
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: row

.service_container
  margin: 0
  padding: 20px
  text-align: center

  > p
    text-align: justify

.bg_header
  display: block
  margin: 0
  padding: 0
  position: relative

  > img
    min-width: 100%

  .small_title
    position: absolute
    left: 40px
    bottom: 40px
    line-height: 32px

    > img
      float: left
      margin-right: 10px

    >h3
      float: left
      margin: 0
